/AuthServer/client_secret_440481951731-m6fkarqkpn892p859dom1k7g1l1k49kk.apps.googleusercontent.com.json
/AuthServer/client_secret_723945016868-kh3kloreb5uldrneieshhpii939uitgf.apps.googleusercontent.com.json
/.idea/.name
/AuthServer/AuthServer.iml
/AuthServer/CoffeeToGO
/CoffeeToGO.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/.gitignore
